nav a.active {
    color: #12305B;
    font-weight: 900;
}

* {
    /* font-size: clamp(0.6rem, 0.3632rem + 1.1842vw, 1.5rem); */
    /* font-size: clamp(0.6rem, 0.4947rem + 0.5263vw, 1rem); */
    font-size: clamp(0.8rem, 0.7474rem + 0.2632vw, 1rem);
}